@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'ONE-Mobile-Regular','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
}


#clock {
    align-items: center;
    color: #ffffff;
    font-size: 60pt;
    position: relative;
    text-align: center;
    top: 350px;
    margin: 0;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.603);
}

#login { 
    position: relative;
    top: 345px;
    width: 15%;
    height: 40px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 15pt;
    background-color: transparent;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom: 2px solid #ffffff;
    margin: 0;
    /*     background-color: beige;
    border-radius: 20px; /*모서리에 굴곡주기 */ */
}

#login::placeholder{
    color:#ffffff;
    opacity: 60%;
}

#greeting {
    font-size: 28pt;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0px 0px 20px rgb(58, 58, 58);
    position: relative;
    text-align: center;
    top: 350px;
    margin: 0;
}

#todo-form{
    position: relative;
    top: 185px;

}

#todo-form{
    font-size: 15pt;
    font-weight: 600;
    
}

#todo-form p{
    color:#ffffff;
}

#todoList {
    width: 450px;
    height: 30px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 15pt;
    background-color: transparent;
    border-bottom: 10px;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom: 2px solid #ffffff;
}

#todoList::placeholder{
    color:#ffffff;
    opacity: 50%;
    font-size: 14pt;
}

#todo-list-Box{
    position: relative;
    top:-40px;
    margin:0;
    width: 300px;
    height: 530px;
    display:block;
    left: 75%;
    background-color:rgba(240, 248, 255, 0.3);
    border-radius: 25px;
    /* border: 2px solid aliceblue; */
    opacity: 90%;
    border-top: 18px solid #ffffffd3;
    border-left: 18px solid #ffffffd3;
    border-right: 18px solid #ffffffd3;
    border-bottom: 70px solid #ffffffd3;
    
}

#todo-list-Box p{
    font-size: 15pt;
    font-weight:600;
    margin : 25px;
    background-color: #ffffff;
    color:#383838;
}

#home {
    position: absolute;
    right:121px;
    top: 545px;
    font-size: 24pt;
    border-radius: 120px;
}

#saveTodoList{
    list-style-type: "📌 ";
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#saveTodoList li span{
    font-size: 13pt;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0px 0px 13px #000000;
}

#saveTodoList li{
    align-items: right;
    margin: 10px;
}

#delButton{
    position: absolute;
    right: 30px;
    font-size: 9pt;
    color: red;
    background-color: #ffffff;
    border: 1.5px solid rgb(255, 0, 0);
    border-radius: 12px;
    align-items: right;

}

#quote {
    position: relative;
    top : 50px;
    font-size: 12pt;
    letter-spacing: 0.5px;
    padding-bottom:13px;
    line-height: 22px;
    font-weight: 550;
    color:#ffffff;
    text-shadow: 0px 0px 30px rgb(58, 58, 58);
}

#weather{
    position: relative;
    left: 30px;

    margin: 0;
    color:#ffffff;
}

footer {
    position: relative;
    right: 10px;
    
    margin:0;
    font-size: 10pt;
    color: #ffffff;
    text-align: right;
    text-shadow: 0px 0px 20px rgb(58, 58, 58);
}

.align {
    text-align: center;
    border-bottom: 5px;
    border-color: black;
    align-items: center;
}

.hidden {
    display: none;
}
